<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A look into...</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <h2 class="display-4">{{author.first_name}}{{author.last_name}}</h2>
  <p>ID: {{author.id}}</p>
  <p>Notes:{{author.notes}} </p>
  <ul>
    {% for book in author.books.all%}
    <li>{{book.title}}</li>
    {%endfor%}
  </ul>
  <form action="/add_book/{{author.id}}" method="POST">
    {%csrf_token%}
    <select name= "books">
      {%for book in books_excluded%}
        <option value="{{book.id}}">{{book.title}}</option>
      {%endfor%}
    </select>
    <button type="submit" class="btn btn-secondary">Add</button>
  </form>
</body>
</html>


